<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form Application</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter a Name">
          <input type="submit" class="ghost-button" value="Get Name">
        </form>
        <% if(Name !== null){ %>
          <p><%= Name %></p>
        <% } 
          if (Name == null){
          %>
          <p>Null</p>
          <%
        }
        %>
      </fieldset>
      <script type="text/javascript">console.log("it works");</script>
    </div>
  </body>
</html>